.fix {
  max-width: 80%;
  text-align: center;
  justify-content: center;
  display: flex;
  margin-top: 15%;
  margin-left: 9%;
  /* background-color: #e1faf1; */
}

.dib {
  background-color: #e1faf1;
  min-height: 100vh;
}
