.fix {
  max-width: 80%;
  text-align: center;
  justify-content: center;
  display: flex;
  margin-top: 5%;
  margin-left: 9%;
  /* background-color: #e1faf1; */
}

.dib {
  background-color: #e1faf1;
  min-height: 100vh;
}

.square {
  max-width: 100%;
  margin-top: 130px;
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}

.face {
  max-width: 150px;
}
